.deps
aclocal.m4
autom4te.cache
compile
config
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
fd-catalog
fd-catalog.c~
fd-catalog.o
install-sh
Makefile
Makefile.am~
Makefile.in
missing
stamp-h1
